<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box {
          padding: 100px 0;
          width: 400px;
          text-align: center;
          background: #ddd;
          margin: 20px;
          display: inline-block;
        }
      </style>
</head>
<body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }} years old</p>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="changeTitle('Norwegian wood')">Change book</div>
        <p v-if="showText">Vue determines if this is shown</p>
        <button @click="toggleShowText">
            <span v-if="showText">Hide Text</span>
            <span v-else>Show Text</span>
        </button>
        <!--v-show uses css to remove an alement, v-fi takes it out of the dom completely
        so v-show is cheaper and more efficient-->
        <div v-show="showText">Currently showing text</div>

        <!--We can add vue to the html page directly like so
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <div @click="title='Norwegian Wood'">Change book</div>
        -->

        <br>
        <!--mouse events
        if we want to pass in our own arguments, we must explicitly pass in the event object as well
        it must be the first argument-->
        <div class="box" @mouseover="handleEvent($event, 'some data')">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick</div>
        <div class="box" @mousemove="handleMouseMove">Position X: {{ x }} Y: {{ y }}</div>
    </div>
    <script src="app.js"></script>
</body>
</html>